{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="{% static 'meals/style.css' %}">

    {% if title %}
        <title> StarSnowIce - {{title}}</title>
    {% else %}
        <title> StarSnowIce </title>
    {% endif %}
</head>
<body>
    <header>
        <div class="logo">
            <h1 class="logo-text">Star Snow Ice </h1>
        </div>
        <ul class="nav">
            <li><a href="#">Menu</a></li>
            <li><a href="#">Order</a></li>
            <li><a href="#">Location</a></li>
            <li><a href="#">contact</a></li>
        </ul>


    </header>


    <div id = "bottom" class="fixed-footer">
        <div class="footer-content">

            <div class="footer-section address">
                <h1>Adress: 9250 A Bellaire Blvd, Houston, TX 77036</h1>

            </div>

            <div class="footer-section links">
                <h1>facebook/starsnowice</h1>
            </div>
            <div class="footer-section contact">
                <h1>Phone#: 713-988-8028</h1>
            </div>
        </div>

        <div class="footer-bottom">
            &copy; StarSnowIce | By Jinman
        </div>
    </div>
</body>
</html>
