*{
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    background: #FFFFFF;
}
header {
    background: #14F1CD;
    height:52px;
}
header *{
    color: white;
}
header .logo{
    padding-top: 5px;
    float:left;
    height:inherit;
    margin-left: 1em;

}
header .logo-text{
    font-size: 35px;
    text-decoration:none;
}
header ul{
    float:right;
    margin:0px;
    padding:0px;
    list-style: none;

}

header ul li {
    float: left;
}

header ul li a{
    display: inline-block;
    padding-left:70px;
    padding-right:70px;
    font-size:2.7em;
    text-decoration: none;
}
header ul li a:hover{
    background: #006669;
    transition:0.5s;
}

.pic-slider{
    position: relative;
}
.pic-slider .slider-title{
    text-align: center;
    margin:30px auto;
}
.pic-slider .pic-wrapper{
    width: 84%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding:10px 0px 10px 0px;

}
.pic-slider .pic-wrapper .pic{
    display: inline-block;
    background:white;
    width: 300px;
    height: 330px;
    margin: 0px 10px;
    border-radius: 5px;
}
.pic-slider .pic-wrapper .pic .slider-image{
    width:100%;
    height:100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem #A0A0A0;
}
.pic-slider .next{
    position: absolute;
    top:50%;
    right: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
}
.pic-slider .prev{
    position: absolute;
    top:50%;
    left: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
}
